[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"
flake8 = "*"
pytest = "*"
requests = "*"

[packages]
fastapi = "~=0.61.1"
pydantic = "~=1.6.1"
uvicorn = "~=0.11.8"
aiofiles = "~=0.5.0"
typing-extensions = "~=3.7.4.3"
pyyaml = "~=5.3.1"
jsonpath-ng = "~=1.5.2"
sortedcontainers = "~=2.2.2"

[requires]
python_version = "3.7"
