html,
body {
  height: 100%;
  margin: 0px;
  background-color: gray;
}

.container {
  display: grid;
  height: 100%;
  grid-template-columns: auto 350px;
}

.room-area {
  height: 100%;
}

.big-text {
  font-size: 16pt;
}

.details-text {
  white-space: pre;
  font-size: 10pt;
  font-family: monospace;
}
